<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>关于我</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>我是王哲，一名计算机科学与技术专业的学生。我对软件开发、数据分析和人工智能领域充满热情，不断学习新技术和解决实际问题。</p>
      </div>
      <div class="col-lg-4">
        <p>我擅长多种编程语言和技术框架，包括Python、Java、C++和JavaScript等。我热爱团队合作，具有良好的沟通能力和解决问题的思维。</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/Wangzhe_Resume_Undergraduate.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> 下载我的简历
        </a>
      </div>
    </div>
  </div>
</section>
