<!-- 学习记录板块 -->
<section class="success" id="study">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>学习记录</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="study-accordion" role="tablist" aria-multiselectable="true">
                    <!-- 论文精读 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#study-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    论文精读
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="/2025/05/06/openval-paper-study/" class="list-group-item">
                                        <h4 class="list-group-item-heading">OpenVAL论文精读</h4>
                                        <p class="list-group-item-text">深入分析OpenVAL论文的核心思想、算法设计和实验结果</p>
                                    </a>
                                    <!-- 可以在这里添加更多论文精读 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 论文泛读 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#study-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    论文泛读
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="list-group">
                                    <!-- 这里将来可以添加泛读的论文列表 -->
                                    <p>即将添加泛读论文列表...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 学习笔记 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#study-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    学习笔记
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="list-group">
                                    <!-- 这里将来可以添加学习笔记 -->
                                    <p>即将添加学习笔记...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
